<div class="row">
	<div class="col s12">
		<h1 class="h1">Orders Page</h1>
	</div>
</div>
{{#if orders.length}}
	{{#each orders}}
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<div class="card-title">{{userName}}`s order</div>
						<ol>
							{{#each courses}}
								<li>
									{{title}} (<span class="j-price">{{price}}</span> x {{count}})
								</li>
							{{/each}}
						</ol>
						<hr>
						<p>
							Total: <span class="j-price">{{totalPrice}}</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	{{/each}}
{{else}}
	<div class="row">
		<div class="col s12">
			<p>No orders is available</p>
		</div>
	</div>
{{/if}}
