<nav>
	<div class="nav-wrapper">
		<a href="/" class="brand-logo">Courses App</a>
		<ul id="nav-mobile" class="right">

			{{#if isHome}}
				<li class="active"><a href="/">Main</a></li>
			{{else}}
				<li><a href="/">Main</a></li>
			{{/if}}

			{{#if isCourses}}
				<li class="active"><a href="/courses">Courses</a></li>
			{{else}}
				<li><a href="/courses">Courses</a></li>
			{{/if}}

			{{#if isAuthenticated}}

				{{#if isAdd}}
					<li class="active"><a href="/add">Add</a></li>
				{{else}}
					<li><a href="/add">Add</a></li>
				{{/if}}

				{{#if isCart}}
					<li class="active"><a href="/cart">Cart</a></li>
				{{else}}
					<li><a href="/cart">Cart</a></li>
				{{/if}}

				{{#if isOrders}}
					<li class="active"><a href="/orders">Order</a></li>
				{{else}}
					<li><a href="/orders">Order</a></li>
				{{/if}}

				<li>
					<form method="post" action="/auth/logout">
						<button class="btn" type="submit">Logout</button>
					</form>
				</li>

			{{else}}

				{{#if isAuth}}
					<li class="active"><a href="/auth#login">Auth</a></li>
				{{else}}
					<li><a href="/auth#login">Auth</a></li>
				{{/if}}

			{{/if}}
		</ul>
	</div>
</nav>
